@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,600,600italic,700,700italic,500,500italic);
@font-face {
    font-family: Hero;
    font-weight: 500;
    src: url(../fonts/hero/Hero.otf);
}
@font-face {
    font-family: Hero;
    font-weight: 300;
    src: url(../fonts/hero/Hero%20Light.otf);
}