//On charge le Layout
extends layout

block content
    .container
        h1= title
        br
        ul
            a
            //On boucle dans l'objet rapporté de la DB avec EACH
            - each data in datas
                li= data.mot1 +" "+data.date



