doctype html
html(lang="en")
    head
        title= SoundCloud
    body
        h1 Add SoundCloud Api Test n°1
        input(
            type="text"
            id="hello"
        )
        input(
            type="submit"
        )