extends layout

block content
    h1 SoundCloud Api
    input(
        type="text"
        id="hello"
    )
    input(
        type="submit"
    )
    h1#background Test
    #putTheWidgetHere
    #result