extends layout.jade
block content
        #interface
                    header
                        h1
                            a(href="/"): img(src='/images/logo.png', alt='Keymood')
                    .content
                        h2
                            | Découvre une musique aléatoirement
                            br
                            |  en choisissant :
                        .alert
                            p Veuillez choisir au moins un mot ou une categorie
                            button.exitAlert X
                        form(action="/player")
                            .formContent
                                .interfaceLeft
                                    .titre
                                        h3
                                            span 3
                                            |  mots clés
                                        button(type="button")#test.vocal.icon-vocal
                                            a vocal
                                    .inputsText
                                        input#mot1(type='text', name='mot1')
                                        input#mot2(type='text', name='mot2')
                                        input#mot3(type='text', name='mot3')
                                p ou
                                .interfaceRight
                                    .titre
                                        h3
                                            span 1
                                            |  genre de musique
                                    ul
                                        li
                                            input#electro(type='radio', name='categorie', value='electro')
                                            label.icon-electro(for='electro') Electro
                                        li
                                            input#jazz(type='radio', name='categorie', value='jazz')
                                            label.icon-jazz(for='jazz') Jazz
                                        li
                                            input#metal(type='radio', name='categorie', value='metal')
                                            label.icon-metal(for='metal') Metal
                                        li
                                            input#classique(type='radio', name='categorie', value='classique')
                                            label.icon-classique(for='classique') Classique
                                        li
                                            input#disco(type='radio', name='categorie', value='disco')
                                            label.icon-disco(for='disco') disco
                                        li
                                            input#pop(type='radio', name='categorie', value='pop')
                                            label.icon-pop(for='pop') Pop
                                        li
                                            input#rnb(type='radio', name='categorie', value='rnb')
                                            label.icon-rnb(for='rnb') Rnb
                                        li
                                            input#rock(type='radio', name='categorie', value='rock')
                                            label.icon-rock(for='rock') Rock
                            button.navButton(type='submit') Découvrir
        script(type="text/javascript" src="/javascripts/interface.js")
