extends layout.jade
block content
        #interface
                    header
                        h1
                            a(href="/"): img(src='/images/logo.png', alt='Keymood')
                    .content
                        h2
                            | Découvre une musique aléatoirement
                            br
                            |  en choisissant :
                        .alert
                            p Veuillez choisir au moins un mot ou une categorie
                            button.exitAlert X
                        form(action="/player")
                            .formContent
                                .interfaceLeft
                                    .titre
                                        h3
                                            span 3
                                            |  mots clés
                                        button(type="button")#test.vocal.icon-vocal
                                            a vocal
                                    .inputsText
                                        input#mot1(type='text', name='mot1')
                                        input#mot2(type='text', name='mot2')
                                        input#mot3(type='text', name='mot3')
                                p ou
                                .interfaceRight
                                    .titre
                                        h3
                                            span 1
                                            |  genre de musique
                                    ul
                                        li
                                            input#electro(type='radio', name='categorie', value='electro' data-id='57504a36fdca16c6c7626b15')
                                            label.icon-electro(for='electro') Electro
                                        li
                                            input#jazz(type='radio', name='categorie', value='jazz',data-id='57504a22fdca16c6c7626b14')
                                            label.icon-jazz(for='jazz') Jazz
                                        li
                                            input#metal(type='radio', name='categorie', value='metal',data-id='575010c052ed968ebd1f0728')
                                            label.icon-metal(for='metal') Metal
                                        li
                                            input#classique(type='radio', name='categorie', value='classique',data-id='5753ee2f61e1a49252ba59f7')
                                            label.icon-classique(for='classique') Classique
                                        li
                                            input#disco(type='radio', name='categorie', value='disco',data-id='57504a90fdca16c6c7626b16')
                                            label.icon-disco(for='disco') disco
                                        li
                                            input#pop(type='radio', name='categorie', value='pop',data-id='57504a13fdca16c6c7626b13')
                                            label.icon-pop(for='pop') Pop
                                        li
                                            input#rnb(type='radio', name='categorie', value='rnb',data-id='5753ee3361e1a49252ba59f8')
                                            label.icon-rnb(for='rnb') Rnb
                                        li
                                            input#rock(type='radio', name='categorie', value='rock',data-id='5753ee1c61e1a49252ba59f6')
                                            label.icon-rock(for='rock') Rock
                            button.navButton(type='submit') Découvrir
        script(type="text/javascript" src="/javascripts/interface.js")
        script(src="/javascripts/ajax.js")
        script.
            $(function () {
                $('ul li label').click(incrementData);
            });
