extends layout.jade
block content
            #home
                .content
                    h1
                        img(src='images/logo.png', alt='Keymood')
                        span L'application qui vous baladera de son en son
                     a(href="/interface")
                        button.navButton.
                            Commencer




