doctype html
html.nojQuery
  head
    title= title
    meta(charset='UTF-8')
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(type="text/javascript", src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js")
    script(type="text/javascript", src="/javascripts/main.js")
    script(type="text/javascript", src="/javascripts/player.js")
    link(href='/stylesheets/reset.css', type='text/css', rel='stylesheet')
    link(href='/stylesheets/fonts.css', type='text/css', rel='stylesheet')
    link(href='/stylesheets/icomoon.css', type='text/css', rel='stylesheet')
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet')
  body
    .inner
        block content
    canvas
    script(type="text/javascript", src="/javascripts/canvas.js")

