extends layout.jade
block content
        #player
            header
                h1
                    a(href="/"): img(src='images/logo.png', alt='Keymood')
                ul.filters
            .content
                .partLeft
                    iframe(width="300", height="380", frameborder="0", allowtransparency="true")
                .partRight
                    h2 Les concerts & festivals
                    ul.listConcerts
                button.navButton
                    a(href='/interface') Recommencer
                a(href='/api/data') Découvrir les mots-clés les plus utilisés
                script( type="text/javascript" src="/javascripts/test.js")
