extends layout.jade
block content
        #player.inner
            header
                h1
                    img(src='public/images/logo.png', alt='Keymood')
                ul.filters
                    li.icon-metal Metal
            .content
                .partLeft
                    div
                    // PLAYER(#putTheWidgetHere)
                .partRight
                    h2 Les concerts & festivals
                    ul.listConcerts
                        li
                            ul.Oneconcert
                                li.date
                                    span 13-17
                                    | juillet 2016
                                li.place
                                    span Festival Francofolies
                                    | La Rochelle (17)
                                li.more
                                    a En savoir plus
                        li
                            ul.Oneconcert
                                li.date
                                    span 13-17
                                    | juillet 2016
                                li.place
                                    span Festival Francofolies
                                    | La Rochelle (17)
                                li.more
                                    a En savoir plus
                button.navButton
                    a(href='interface.html') Recommencer
                a Découvrir les mots-clés les plus utilisés
